/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* LAYOUT */
body{
    color: white;
}

.app{
    display: flex;
    background-color: #141923e8;
    height: calc(100vh - 70px);
}

.section-1 ul, .bottombar ul{
    list-style: none;
}

/* UTILITY */
.flex{
    display: flex;
}

/* STYLE */
.app header{
    background-color: black;
    padding: 20px;
    min-width: 220px;
}

main{
    overflow: auto;
}

.subscription{
    background-color: #0e121bde;
    min-height: 8vh;
}

.bottombar{
    background-color: #282828;
    line-height: 70px;
}

/* DEBUG */
.debug{
    color: aquamarine;
}
